*{
    padding: 0;
    margin: 0;
}

#app_container{
    max-width: 900px;
    background-color: seashell;
    min-height: 300px;
    margin: 10vh auto;
    padding: 20px;
}
.btn-green{
    background: linear-gradient(top, green, rgb(47, 168, 47));
    background: -webkit-linear-gradient(top, green, rgb(47, 168, 47));
    padding: 8px 15px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
#closeBtn{
    float: right; padding: 4px 8px; background-color: tomato; color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#flexbox{
    display: flex;
    min-height: 300px;
    margin-top: 30px;
}
#flex-child1{
    flex: 1;
    background-color: thistle;
    box-shadow: 0 0 1px grey;
    border-radius: 4px;
}
#flex-child2{
    flex: 3;
}
/* List Style */
#name_list li{
    list-style-type: none;
    padding: 7px 15px;
    cursor: pointer;
}
#name_list li:hover{
    background-color: seashell;
    border-radius: 4px;
}
#name_details{
    padding: 0 25px 8px;
    font-size: 1.1rem;
}
.feild{
    margin: 15px auto;
}
.feild label{
    margin-right: 5px;
}

/* Hover Modal Style */
#hover{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: none;
}
#popUp{
    background-color: white;
    max-width: 450px;
    min-height: 300px;
    margin: 20vh auto;
    padding: 10px 20px;
}
/* form */
#popUp h3{
    padding: 10px 0;
}
.txtBoxes{
    display: block;
    width: 90%;
    height: 30px;
    padding: 0 15px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 1px rgb(46, 98, 196);
}
