*{
    padding: 0;
    margin:0;
}

#container{
    width:30% ;
    min-width:320px;
    min-height:300px ;
    margin: 10vh auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px black;

}

#reg {
    padding: 15px 10px;
    margin: 10px
    
}
.form_input{
    display: block;
    width: 90%;
    padding: 8px ;
    margin: 10px 0px;

}

#eye{
    float: right;
    position: relative;
    bottom:32px;
    right: 30px;
    display: none;
}
#eye-slash{
    float: right;
    position: relative;
    bottom:32px;
    right: 30px;
}

#eye1{
    float: right;
    position: relative;
    bottom:32px;
    right: 30px;
    display: none;
}
#eyeslash{
    float: right;
    position: relative;
    bottom:32px;
    right: 30px;
    
}
.hide{
    font-size: 14px;
    float: right;
    padding: 0 25px;
    color: red;
    font-family: serif;
    display:none ;
}
#passhide{
    padding: 0;
}

#btn{
    clear: both;
    text-align: right;
}

#button{
    padding: 8px 20px;
    margin: 8px;
    border-radius: 5px;
   
   
}

