#frame{
    height: 400PX;
    width: 600px;
    margin: auto;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header{
    text-align: Center;
    text-transform: uppercase;
}
#ImageT{
    display: block;
    margin: auto;
}