*{padding: 0; margin: 0;}



#image{
    text-align: center;
    background-image: url('../images/img2.jpg');
    background-position:center;
    width: 100%;
    height:250px;
}
#log{
    color: white;
    text-shadow: 0 5px black;
    padding-top:80px ;
    font-size: 60px;
    font-style: italic;
}

#first, p{
    padding-bottom: 20px;
}

#second ,form{
    padding-bottom:80px;
}

#inpt{
    border:none;
    border-bottom: 1px solid black;
}

#tex{
    border:none; 
    border-bottom: 1px solid #000;
    resize: none;
}



