*{
    margin: 0;
    padding: 0;
}
#bg_img{ height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    box-sizing: border-box;
    background-size:cover ;
}
#main_cont{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color:#0921475e;
    display: flex;
    flex-direction: column;
} 
   #upward{
    flex: 3;
    width: 99.9%;
    background-color:#09214738;
   
    color: white;
    
}
#downward{
    filter: grayscale(50%);
    text-align: left;
    flex: 1;
    width: 99.9%;
    background-color:#09214738;
    height: 50px;
}

#topnav{
    padding: 9px 1px;
        display: flex;
        width: 99.9%;
        height: 34px;
        background-color:#092147;
        display: flex;
        color: white;
        margin: 0 auto 0 auto;

    }
    #topnav aside{
        padding: 7px 1px;
        margin: 0 auto 0 auto;
        text-align: center;
    }
    #downnav{
        display: flex;
        width: 70%;
        height: 99.9%;
        background-color:#0921471a;
        color: white;
        margin:0 auto 0 auto;
        
    }

    #upaside1{
        flex: 1;
    }
    
    #upaside2{
        flex: 3;
        font-size: small;
        font-weight: bold;
    }

    #upaside3{
        flex: 1;
    }

    .dwnnavasides{
        padding:9px 9px;
        flex: 1;
        border-right:1px solid white;
        background-color: #092147ab;
    }
    #downnav  :last-child{
        border: none;

    }
    #upaside2 a:first-child{
        color: yellow;
    }
    
    #upaside2 a{
        color: white;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        list-style: none;
        padding: 4px 7px;
    }
    #upaside2 a :hover{
        color:rgba(241, 119, 180, 0.774);
    }
    #upaside2 a:active{ 
        background-color: hotpink;
        color: black;
    }


#contain_bottom{
    height:100%;
    width: 99.9%;
    background-color: white;
    margin: 1px ;
    box-sizing: border-box;
  }
#dimg{
    text-align: center;
    height:250px;
    width: 57.1%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    
}
#wbg{
    background-color:rgba(255, 255, 255, 0.151);
    height: 100%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    color: rgba(2, 2, 71, 0.938);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}
#upaside3 span{
    background-color: rgb(219, 219, 16);
    cursor: pointer;
    border-radius: 8PX;
    padding: 4px;
}
#icon1{
    background-color: yellow;
    color: black;
    transform: rotateZ(340deg);
    border-radius: 50px;
    padding: 8px;
    font-size: small;    
    
    
}

#icon2{
    color: yellow;
    position: relative;
    left: 85%;
    top: 32px;
    
}
#icon3{
    color:yellow;
    position: relative;
    left: 180px;
    top: 32px;
       
}
#icon4{
    color: yellow;
    position: relative;
    left: 185px;
    top: 32px;
    
}

#daside1 span{
    color: white;
    position: relative;
    left: 4px;
    bottom: 10px;
}
#daside2 span{
    color: white;
    position: relative;
    left: 4px;
    bottom: 10px;
}
#daside3 span{
    color: white;
    position: relative;
    left: 4px;
    bottom: 10px;
}

#respbar1{
    color: goldenrod;
    display: none;
}
#respbar{
    color:yellow;
    padding: 4px;
    display: none;
    
}

@media screen and (max-width:760px)
{
#upaside3 span{
        color: black;
        background-color: rgb(187, 187, 7);
}
#upaside3{
    margin-left: 43px;
}
#topnav aside:nth-child(2){
    display: none;
}
        #upaside2 a{
            display: block;
        }
        #respbar{
            display: inline-block;
        }
        #respbar1{
            display: inline-block;
        }
        #downnav{
            display: inline-block;
           
        }
        #icon2{
            left: 167px;
        }
        .dwnnavasides{
            margin-left: 170px;
            border-bottom: 2px solid white;
            border-right: none;
            width: 50%;
        }
        #bg_img{
            height: 100%;
        }
    

}


@media screen and (max-width:360px){
    #upaside1 {
        padding-left: 10px;
    }

    #topnav aside:nth-child(2){
        display: none;
    }
    #upaside3 span{
        color: white;
        background-color: rgba(8, 8, 68, 0.932);
    }
   
    #upaside2 a{
        display: block;
    }
    #respbar{
        display: inline-block;
    }
    #respbar1{
        display: inline-block;
    }
    #downnav{
        display: inline-block;
       
    }
    .dwnnavasides{
        margin-left: 50px;
        border-bottom: 2px solid white;
        border-right: none;
        width: 80%;
    }
    #bg_img{
        height: 100%;
    }
}
     
 